[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/goodfeels-theme"]
	path = themes/goodfeels-theme
	url = https://github.com/rthomas6/goodfeels-theme
